In [1]:
import pandas as pd
import numpy as np
from transformers.models.fsmt.convert_fsmt_original_pytorch_checkpoint_to_pytorch import org_names

data = pd.read_excel('./data/rule_data.xlsx')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50609 entries, 0 to 50608
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   uid                    50609 non-null  object
 1   oil_actv_dt            50609 non-null  datetime64[ns]
 2   create_dt              45665 non-null  datetime64[ns]
 3   total_oil_cnt          46426 non-null  float64
 4   pay_amount_total       46426 non-null  float64
 5   class_new              50609 non-null  object
 6   bad_ind                50609 non-null  int64
 7   oil_amount             45665 non-null  float64
 8   discount_amount        45665 non-null  float64
 9   sale_amount            45665 non-null  float64
 10  amount                 45665 non-null  float64
 11  pay_amount             45665 non-null  float64
 12  coupon_amount          45665 non-null  float64
 13  payment_coupon_amount  45663 non-null  float64
 14  channel_code           50609 non-null  int64
 15  oil_code               50609 non-null  int64
 16  scene                  50609 non-null  int64
 17  source_app             50609 non-null  int64
 18  call_source            50609 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(6), object(2)
memory usage: 7.3+ MB

In [3]:
data.describe()

,oil_actv_dt,create_dt,total_oil_cnt,pay_amount_total,bad_ind,oil_amount,discount_amount,sale_amount,amount,pay_amount,coupon_amount,payment_coupon_amount,channel_code,oil_code,scene,source_app,call_source
count,50609,45665,46426.000000,4.642600e+04,50609.000000,45665.000000,4.566500e+04,4.566500e+04,4.566500e+04,4.566500e+04,45665.000000,45663.000000,50609.000000,50609.000000,50609.000000,50609.000000,50609.000000
mean,2018-09-05 00:56:50.998043904,2018-06-09 01:47:56.452425472,47.010899,1.060658e+06,0.017764,425.376107,1.832017e+05,1.881283e+05,1.808673e+05,9.043344e+05,0.576853,149.395397,1.476378,1.617894,1.906519,0.306072,2.900729
min,2018-04-02 00:00:00,2017-05-16 00:00:00,1.000000,1.000000e+00,0.000000,1.000000,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018-08-12 00:00:00,2018-04-29 00:00:00,15.000000,2.093987e+05,0.000000,175.440000,6.039100e+04,6.200100e+04,5.976100e+04,2.988010e+05,0.000000,1.000000,1.000000,0.000000,2.000000,0.000000,3.000000
50%,2018-09-09 00:00:00,2018-06-23 00:00:00,31.000000,5.136578e+05,0.000000,336.160000,1.229310e+05,1.279240e+05,1.209610e+05,6.048010e+05,1.000000,1.000000,1.000000,0.000000,2.000000,0.000000,3.000000
75%,2018-09-30 00:00:00,2018-08-07 00:00:00,59.000000,1.110628e+06,0.000000,557.600000,2.399050e+05,2.454010e+05,2.360790e+05,1.180391e+06,1.000000,100.000000,1.000000,0.000000,2.000000,0.000000,3.000000
max,2018-10-31 00:00:00,2018-10-29 00:00:00,487.000000,4.829550e+07,1.000000,7952.820000,3.916081e+06,3.996001e+06,3.851081e+06,1.925540e+07,1.000000,50000.000000,6.000000,9.000000,2.000000,3.000000,4.000000
std,NaN,NaN,54.441589,2.942513e+06,0.132093,400.596244,2.007574e+05,2.048742e+05,1.977035e+05,9.885168e+05,0.494064,605.138823,1.511470,3.074166,0.367280,0.893682,0.726231

In [4]:
data['class_new'].value_counts()

class_new
B    24765
A     9767
C     7679
D     5288
E     1944
F     1166
Name: count, dtype: int64

In [5]:
data['uid'].nunique()

11307

In [7]:
data.columns

Index(['uid', 'oil_actv_dt', 'create_dt', 'total_oil_cnt', 'pay_amount_total',
       'class_new', 'bad_ind', 'oil_amount', 'discount_amount', 'sale_amount',
       'amount', 'pay_amount', 'coupon_amount', 'payment_coupon_amount',
       'channel_code', 'oil_code', 'scene', 'source_app', 'call_source'],
      dtype='object')

In [8]:
org_list = ['uid','create_dt','oil_actv_dt','class_new','bad_ind']
agg_list = ['oil_amount','discount_amount','sale_amount','amount','pay_amount','coupon_amount','payment_coupon_amount']
count_list = ['channel_code','oil_code','scene','source_app','call_source']

In [9]:
df = data[org_list]
df[agg_list] = data[agg_list]
df[count_list] = data[count_list]

C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[agg_list] = data[agg_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[count_list] = data[count_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[count_list] = data[count_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[count_list] = data[count_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[count_list] = data[count_list]
C:\Users\46901\AppData\Local\Temp\ipykernel_19864\505697610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[count_list] = data[count_list]

In [10]:
df.isna().sum()

uid                         0
create_dt                4944
oil_actv_dt                 0
class_new                   0
bad_ind                     0
oil_amount               4944
discount_amount          4944
sale_amount              4944
amount                   4944
pay_amount               4944
coupon_amount            4944
payment_coupon_amount    4946
channel_code                0
oil_code                    0
scene                       0
source_app                  0
call_source                 0
dtype: int64

In [11]:
df['create_dt']

0       2018-08-17
1       2018-08-16
2       2018-08-15
3       2018-08-14
4       2018-08-13
           ...
50604          NaT
50605          NaT
50606          NaT
50607          NaT
50608          NaT
Name: create_dt, Length: 50609, dtype: datetime64[ns]

In [15]:
def fill_timena(x,y):
    if str(x) == 'NaT':
        x = y
    return x
df2 = df.sort_values(['uid','create_dt'],ascending=False)
df2['create_dt'] = df2.apply(lambda x: fill_timena(x['create_dt'],x['oil_actv_dt']), axis=1)

In [18]:
df2['dtn'] = (df2['oil_actv_dt'] - df2['create_dt']).dt.days

In [19]:
df = df2[df2['dtn'] < 180]

In [20]:
df.shape

(45039, 18)

In [25]:
base = df[org_list].sort_values(['uid','create_dt'],ascending=False).drop_duplicates(['uid'],keep='first')

In [30]:
gn = pd.DataFrame()
# for i in agg_list:
#     df.groupby('uid')[i].count()

In [27]:
tp = df.groupby('uid')['oil_amount'].count().reset_index()

In [31]:
tp.columns = ['uid','oil_amount' + '_cnt']
if gn.empty:
    gn = tp
else:
    gn.merge(tp, on='uid', how='left')

In [33]:
tp = df.groupby('uid').apply(lambda df:np.where(df['oil_amount']>0,1,0).sum()).reset_index()
tp.columns = ['uid','oil_amount' + '_num']
if gn.empty:
    gn = tp
else:
    gn = gn.merge(tp, on='uid', how='left')

In [34]:
gn

                      uid  oil_amount_cnt  oil_amount_num
0               A10000481               1               1
1                A1000232               3               3
2                A1000455               0               0
3               A10010042              15              15
4                A1001014               0               0
...                   ...             ...             ...
11094  B96436391972106043               0               0
11095  B96436391976480892               0               0
11096  B96436391977217468               0               0
11097  B96436391984693397               0               0
11098  B96436391985035703               0               0

[11099 rows x 3 columns]